{% extends 'base.html' %}
{% load static %}

{% load static %}

{% block title %}Категории{% endblock title %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/tester_tmp.css' %}">
{% endblock styles %}

{% block content %}

<div class="lev-1">
	{% for category in categories %}
		<div class="lev-2">
			<a href="{% url 'tester:category' category.slug %}">{{ category }}</a>
		</div>
	{% endfor %}
</div>


{% endblock content %}

{% block scripts %}
	{% comment %} <script src="{% static 'js/tester_main.js' %}"></script> {% endcomment %}
{% endblock scripts %}
